body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 0;
}

#gamepad-info {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

span {
  font-weight: bold;
  margin-left: 10px;
}
